.login {
  position: relative;
  height: 100%;
  background: url("https://analyticsindiamag.com/wp-content/uploads/2019/05/apps.55787.9007199266246365.687a10a8-4c4a-4a47-8ec5-a95f70d8852d-1540x866.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
}

.login__logo {
  position: fixed;
  left: 0;
  width: 150px;
  padding-left: 20px;
  object-fit: contain;
  padding-top: 18px;
  font-weight: 600;
}

.login__button {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  border: none;
  cursor: pointer;
}

.login__gradient {
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.login__body {
  position: absolute;
  width: 100%;
  top: 24%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 1;
  color: #fff;
  padding: 20px;
}

.login__body > h1 {
  font-size: 2.3rem;
  margin-bottom: 20px;
  padding-right: 40px;
}

.login__body > h2 {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 20px;
  padding-right: 40px;
}

.login__body > h3 {
  font-size: 0.9rem;
  font-weight: 400;
  padding-right: 40px;
  left: 0;
  right: 0;
}

.login__input {
  padding: 10px;
  margin: 5px;
}

.login__input > form > input {
  padding: 5px;
  outline-width: 0;
  height: 30px;
  width: 30%;
  border: none;
  max-width: 600px;
}

.getstarted {
  margin-top: -2px;
  padding: 11px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  border: none;
  /* margin-left: 5px; */
  font-weight: 600;
}
